<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.star.cinema.member.dao.IMemberDAO">
	<resultMap type="com.star.cinema.member.dto.MemberDTO" id="member">	
		<result property="memberNum" column="memberNum"/>
		<result property="id" column="id"/>
		<result property="pw" column="pw"/>
		<result property="name" column="name"/>
		<result property="email" column="email"/>
		<result property="birth" column="birth"/>
		<result property="phone" column="phone"/>
		<result property="address" column="address"/>
		<result property="zipcode" column="zipcode"/>
		<result property="gender" column="gender"/>
	</resultMap>
	
	<select id="memberList" resultMap="member">
		SELECT B.* FROM(
			SELECT rownum rn, A.* FROM(
				SELECT * FROM member
				<choose>
					<when test="sel == 'id'">WHERE id LIKE '%'||#{search}||'%'</when>
					<when test="sel == 'email'">WHERE email LIKE '%'||#{search}||'%'</when>
				</choose>
			)A
		)B WHERE rn BETWEEN #{b} and #{e}
	</select>
	
	<select id="memberCount" resultType="int">
		SELECT count(*) FROM member
	</select>
	
	<select id ="isExistId" resultMap="member" parameterType="String">
		SELECT * FROM member where id = #{id}
	</select>
	
	<insert id = "insertMember" parameterType="com.star.cinema.member.dto.MemberDTO">
		<selectKey keyProperty="memberNum" resultType="int" order="BEFORE">
			select nvl(max(memberNum),0)+1 from member
		</selectKey>
		
		INSERT INTO member values(
			#{memberNum}, #{id}, #{pw}, #{name}, #{email}, #{birth},
			#{phone}, #{address}, #{zipcode}, #{gender})
	</insert>
</mapper>